<!doctype html>
<html lang="en">

<head>
  <title>flight--HOME</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
</head>

<body>
  
  <div class="con">
    <h1 class="h1"
      style="color: white; width: 1400px; font-weight: bolder; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
      <center style="font-size: 85px; ;" >AIR&nbsp;TRIPS !!</center>
    </h1>
    <center><a href="/login" class="btn btn-primary" title="Click here to book ticket"><b>Sign in to continue!</b></a>
    </center><br>

    <p style="color: rgb(61, 61, 243);" class="cls"><i><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Flight ticket booking site is here..
          It is a computerized system used to store and retrieveinformation and conduct transactions related to air travel.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The project tylis aimed atexposing the relevance and importance of Airline Reservation Systems.So, the current system needs to be computerized and web-based 
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It is projectedtowards enhancing the relationship between customers and airline agencies through theuse of ARSs, 
          and thereby making it convenient for the  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;customers to book the flights as when they require such that they can utilize this software to make reservations..
          The system allows the airline passenger to  
             <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;search for flights that are available between the two travel cities, namely the “Departure city” and “Arrival city” for a particular departure and arrival dates..
          </i></b></p>
    <p><span style="color: rgb(61, 61, 243);"><b><i><u>Our Services</u></i></b></p></span>
    <ul type="square" style="color: rgb(61, 61, 243);">
      <li><b><i>Song Preference</i></b></li>
      <li><b><i>WiFi facility</i></b></li>
      <li><b><i>Affordable price</i></b></li>
    </ul>
  </div>
  </div>
</body>

</html>

<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
  integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>

</body>
</html>